<table class="table w-50 mx-auto my-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Number of pages</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let book of allBooks">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.NumOfPages}}</td>
        <!-- <td>{{book.salary}}</td>
        <td>{{book.address}}</td>
        <td><a class="btn btn-primary" [routerLink]="['update',book.id]">Update</a></td>
        <td><button class="btn btn-danger" (click)="deleteDataa(book.id)">Delete</button></td>  -->
       
     </tr> 
    </tbody>
  </table>